div{
    position:relative;
    width: 100px;
    height: 100px;
}

div:nth-child(1) {
    background-color: red;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  /* move라는 keyframe적용 */

  div:nth-child(2) {
    background-color: blue;
    animation-name: percent;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  div:nth-child(3) {
    animation-name: move, fadeOut, changeColor;
      animation-duration: 5s;
      animation-iteration-count: infinite;
  }

  div:nth-child(4) {
    background-color: green;
    animation-name: cycle;
      animation-duration: 5s;
      animation-iteration-count: infinite;
  }

  div:nth-child(5) {
    background-color: pink;
    animation-name: scale;
      animation-duration: 5s;
      animation-iteration-count: infinite;
  }
  /* @keyframes rule */
  @keyframes move{
    from {left: 0;}
    to {left: 300px;}
  }

  @keyframes percent {
    0%   { left: 0; }
    50%  { left: 100px; }
    100% { left: 300px; }
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  @keyframes changeColor {
    from { background-color: red; }
    to   { background-color: blue; }
  }

  @keyframes cycle {
    100%{transform: rotate(360deg);}
  }

  @keyframes scale {
    100% { transform: scale(2); }
 
  }