@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Noto Sans KR';
}

body{
    background-color: #EAE8FE;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 963px;
}

.logo{
    width: 386px;
    height:164.12px;
    margin-bottom: 68px;
}

.section{
    width: 360px;
    height: 545px;  
}

.account{
    box-sizing: border-box;
    padding: 28px 27px;
    margin-right: 28px;
    background: #FFFFFF;
}

.all-wrapper{
    display: flex;
}

.can_show{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

ul{
    list-style: none;
}

li img{
    width: 35.86px;
    height: 64.86px;
    margin-top: 11px;

}

li p{
    margin: 7px 0;
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94px;
    height: 130px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.593), -1px -1px 2px rgba(128, 128, 128, 0.593);

    box-sizing: border-box;
    margin-bottom: 12px;
}

.can_button{
    color: white;
    width: 70px;
    height: 22px;
    background: #6327FE;
    border-radius: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 12px;
    border: 0px;
}

.can_txt{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #333333;
}


.count_section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: stretch;
}

.remain_button, .deposit_button{
    width: 94px;
    height: 33px;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.593), -1px -1px 2px #80808097;
    border: 0;

    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 13px;
    /* display: flex; */
    text-align: center;
    color: #000000;
    /* line-height: 19px; */
    border-radius: 5px;
    margin-bottom: 11px;
}

.balance{
    width: 200px;
    height: 33px;
    background: #EAE8FE;
    border: 0;
    border-radius: 5px;
}

.deposit_amount{
    width: 200px;
    height: 33px;
    border: 1px solid #80808097;
    border-radius: 5px;
    font-size: 13px;
}

.deposit_amount::-webkit-outer-spin-button,
.deposit_amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.gain_button{
    width: 94px;
    height: 106px;
    background: #6327FE;

    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;

    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.593), -1px -1px 2px #80808097;
    border: 0;
    border-radius: 5px;
}

.put_can{
    width: 200px;
    height: 106px;
    border: 1px solid #80808097;
    border-radius: 5px;
    background-color: #EAE8FE;
    scroll-behavior: auto;
}

.my_basket{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my_money{
    background-color: white;
    width: 360px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_list{
    background-color: white;
    width: 360px;
    height: 474px;
    box-sizing: border-box;
    padding: 26px 27px;
}

.result_money{
    width: 306px;
    height: 32px;
    background: #EAE8FE;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}

.result_money::before{
    content: "소지금 : ";
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 152px;
    display: inline-block;
}

.result_money::after{
    content: "원";
    font-weight: 700;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 5px;

}
.my_cans{
    width: 306px;
    height: 364px;
    background: #EAE8FE;
    border: 1px solid #80808097;
    border-radius: 5px;
}

.result_list h2{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-bottom: 13px;
}

.amount{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    margin-top: 6px;
    text-align: right;
}